In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mb
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [2]:
# load dataset
data=pd.read_csv('https://raw.githubusercontent.com/yashy1626/ds_dataset/refs/heads/main/used_cars.csv')
data

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [3]:
#first 20 rows of dataset
data.head(20)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
5,5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
7,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
9,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
10,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
11,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49
12,12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60
13,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN,27.00
14,14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN,17.50
15,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
16,16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,5.40
17,17,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,NaN,5.99
18,18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,NaN,6.34
19,19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,NaN,28.00

In [4]:
# last 20 rows of dataset
data.tail(20)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
7233,7233,Audi A4 2.0 TDI,Bangalore,2014,21143,Diesel,Automatic,First,16.55 kmpl,1968 CC,147.51 bhp,5.0,NaN,NaN
7234,7234,Hyundai Verna 1.6 SX VTVT (O),Kochi,2013,42203,Petrol,Manual,First,17.1 kmpl,1591 CC,121.3 bhp,5.0,NaN,NaN
7235,7235,Maruti Vitara Brezza ZDi,Kochi,2017,21380,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,10.57 Lakh,NaN
7236,7236,Hyundai Elite i20 Magna Plus,Kochi,2018,23955,Petrol,Manual,First,18.6 kmpl,1197 CC,81.86 bhp,5.0,7.08 Lakh,NaN
7237,7237,Honda Amaze S i-Dtech,Kolkata,2013,38568,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,NaN
7238,7238,Audi A4 2.0 TDI,Hyderabad,2011,64000,Diesel,Automatic,First,16.55 kmpl,1968 CC,147.51 bhp,5.0,NaN,NaN
7239,7239,Honda Amaze VX AT i-Vtech,Hyderabad,2014,57000,Petrol,Automatic,First,15.5 kmpl,1198 CC,86.7 bhp,5.0,NaN,NaN
7240,7240,Honda Jazz 1.5 V i DTEC,Coimbatore,2017,44556,Diesel,Manual,First,27.3 kmpl,1498 CC,98.6 bhp,5.0,NaN,NaN
7241,7241,BMW 5 Series 525d Sedan,Delhi,2012,80000,Diesel,Automatic,First,16.73 kmpl,2993 CC,218 bhp,5.0,NaN,NaN
7242,7242,Hyundai Grand i10 Asta Option,Kolkata,2015,39000,Petrol,Manual,First,18.9 kmpl,1197 CC,82 bhp,5.0,NaN,NaN
7243,7243,Renault Duster 85PS Diesel RxL,Chennai,2015,70000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,5.0,NaN,NaN
7244,7244,Chevrolet Aveo 1.4 LS,Pune,2009,45463,Petrol,Manual,First,14.49 kmpl,1399 CC,92.7 bhp,5.0,NaN,NaN
7245,7245,Honda Amaze S i-Vtech,Kochi,2015,44776,Petrol,Manual,First,18.0 kmpl,1198 CC,86.7 bhp,5.0,NaN,NaN
7246,7246,Hyundai Grand i10 AT Asta,Coimbatore,2016,18242,Petrol,Automatic,First,18.9 kmpl,1197 CC,82 bhp,5.0,NaN,NaN
7247,7247,Hyundai EON D Lite Plus,Coimbatore,2015,21190,Petrol,Manual,First,21.1 kmpl,814 CC,55.2 bhp,5.0,NaN,NaN
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

In [8]:
#check for duplication
data.nunique()

S.No.                7253
Name                 2041
Location               11
Year                   23
Kilometers_Driven    3660
Fuel_Type               5
Transmission            2
Owner_Type              4
Mileage               450
Engine                150
Power                 386
Seats                   9
New_Price             625
Price                1373
dtype: int64

In [ ]:
#calculate percentage of null values in the data
(data.isnull().sum()/(len(data)))*100

# missing values in New_Price is 86% and Price 17%

In [ ]:
#data Reduction, drop any unpredictive data that not have power to analysis

data=data.drop(['S.No.'], axis=1)
data.info()

In [ ]:
#add one more colomn that shows year of manufacturing year car, it helps to analysis the factor of Car Price
from datetime import date
date.today().year
data['Car_Age']=date.today().year-data['Year']
data.head(20)

In [ ]:
# since car name not great predictors of the price, so we can extract the brand and model for important information.

data['Brand']=data.Name.str.split().str.get(0)
data['Model']=data.Name.str.split().str.get(1) + data.Name.str.split().str.get(2)
data[['Name','Brand','Model']]

In [ ]:
#to find any duplicate values
print(data.Brand.unique())
print(data.Brand.nunique())

#Isuzu , ISUZU

In [ ]:
#change car names with correct name
searchfor=['Isuzu','ISUZU','Mini','Land']
data[data.Brand.str.contains('|'.join(searchfor))].head()

In [ ]:
#remove str in rows, only numerical data can be process in data analysis
columns = ['Mileage','Engine', 'Power'] 
for i in columns:
    data[i]=data[i].astype(str).str.extract(r'([\d.]+)').astype(float)
data

In [ ]:
# Data Analysis for dataset
data.describe(include='all').T

In [ ]:
# before start EDA, separate numerical and categorical variables for easy analysis

num_col=data.select_dtypes(include=np.number).columns.tolist()
cat_col=data.select_dtypes(include=['object']).columns.tolist()

print('Numerical Variables :')
print(num_col)
print('Categorical Variables :')
print(cat_col)

In [ ]:
# UA for numerical variables
for i in num_col:
    print(i)
    print('Skew :', round(data[i].skew(), 2))
    
    mb.figure(figsize=(8, 4))
    data[i].hist(grid=False, bins=15) 
    mb.title(f'Distribution of {i}')
    mb.xlabel(i)
    mb.ylabel('Count')
    mb.show()
mb.tight_layout()

In [ ]:
#graph for categorical variables
fig, axes = mb.subplots(3, 2, figsize = (18, 18))
fig.suptitle('Bar plot for all categorical variables in the dataset')
sb.countplot(ax = axes[0, 0], x = 'Fuel_Type', data = data, color = 'red', 
              order = data['Fuel_Type'].value_counts().index);

sb.countplot(ax = axes[0, 1], x = 'Transmission', data = data, color = 'blue', 
              order = data['Transmission'].value_counts().index);

sb.countplot(ax = axes[1, 0], x = 'Owner_Type', data = data, color = 'green', 
              order = data['Owner_Type'].value_counts().index);

sb.countplot(ax = axes[1, 1], x = 'Location', data = data, color = 'orange', 
              order = data['Location'].value_counts().index);

sb.countplot(ax = axes[2, 0], x = 'Brand', data = data, color = 'purple', 
              order = data['Brand'].head(20).value_counts().index);

sb.countplot(ax = axes[2, 1], x = 'Model', data = data, color = 'pink', 
              order = data['Model'].head(20).value_counts().index);

axes[1][1].tick_params(labelrotation=45);
axes[2][0].tick_params(labelrotation=90);
axes[2][1].tick_params(labelrotation=90);

In [ ]:
# Data transformation
#Log transformation can help in normalization, so this variable can maintain standard scale with other variables

# Function for log transformation of the column
def log_transform(data,col):
    for colname in col:
        if (data[colname] == 1.0).all():
            data[colname + '_log'] = np.log(data[colname]+1)
        else:
            data[colname + '_log'] = np.log(data[colname])
    data.info()

In [ ]:
log_transform(data,['Kilometers_Driven','Price'])

In [ ]:
#Log transformation of the feature 'Kilometers_Driven'
sb.distplot(data["Kilometers_Driven_log"], axlabel="Kilometers_Driven_log")

In [ ]:
#EDA Bivariate Analysis
# helps to understand how variables are related to each other
#and the relationship between dependent and independent variables present in the dataset.

mb.figure(figsize=(13,17))
sb.pairplot(data=data.drop(['Kilometers_Driven','Price'],axis=1))
mb.show()

In [ ]:
#A bar plot can be used to show the relationship between Categorical variables and continuous variables 
fig, axarr = mb.subplots(4, 2, figsize=(12, 18))
data.groupby('Location')['Price_log'].mean().sort_values(ascending=False).plot.bar(ax=axarr[0][0], fontsize=12)
axarr[0][0].set_title("Location Vs Price", fontsize=18)
data.groupby('Transmission')['Price_log'].mean().sort_values(ascending=False).plot.bar(ax=axarr[0][1], fontsize=12)
axarr[0][1].set_title("Transmission Vs Price", fontsize=18)
data.groupby('Fuel_Type')['Price_log'].mean().sort_values(ascending=False).plot.bar(ax=axarr[1][0], fontsize=12)
axarr[1][0].set_title("Fuel_Type Vs Price", fontsize=18)
data.groupby('Owner_Type')['Price_log'].mean().sort_values(ascending=False).plot.bar(ax=axarr[1][1], fontsize=12)
axarr[1][1].set_title("Owner_Type Vs Price", fontsize=18)
data.groupby('Brand')['Price_log'].mean().sort_values(ascending=False).head(10).plot.bar(ax=axarr[2][0], fontsize=12)
axarr[2][0].set_title("Brand Vs Price", fontsize=18)
data.groupby('Model')['Price_log'].mean().sort_values(ascending=False).head(10).plot.bar(ax=axarr[2][1], fontsize=12)
axarr[2][1].set_title("Model Vs Price", fontsize=18)
data.groupby('Seats')['Price_log'].mean().sort_values(ascending=False).plot.bar(ax=axarr[3][0], fontsize=12)
axarr[3][0].set_title("Seats Vs Price", fontsize=18)
data.groupby('Car_Age')['Price_log'].mean().sort_values(ascending=False).plot.bar(ax=axarr[3][1], fontsize=12)
axarr[3][1].set_title("Car_Age Vs Price", fontsize=18)
mb.subplots_adjust(hspace=1.0)
mb.subplots_adjust(wspace=.5)
sb.despine()

In [ ]:
#EDA Multivariate Analysis
# one of the most useful methods to determine relationships and analyze patterns for any dataset.
#A heat map is widely been used for Multivariate Analysis

numeric_data = data.select_dtypes(include=['number'])
mb.figure(figsize=(12, 7))
sb.heatmap(numeric_data.corr(), cmap='magma', annot=True, vmin=-1, vmax=1)
mb.show()

In [ ]:
#Impute Missing values
# impute the missing values by their Mean, median, most frequent, or zero values 
#bcs we see zero mileage in the data,it look like the data have entry issue

data.loc[data["Mileage"]==0.0,'Mileage']=np.nan
data.Mileage.isnull().sum()

In [ ]:
data['Mileage'].fillna(value=np.mean(data['Mileage']),inplace=True)

In [ ]:
#impute those missing values with the existing data

data.Seats.isnull().sum()
# Fill Seats
data['Seats'] = data.groupby(['Model', 'Brand'])['Seats'].transform(lambda x: x.fillna(x.median()))

# Fill Engine
data['Engine'] = data.groupby(['Brand', 'Model'])['Engine'].transform(lambda x: x.fillna(x.median()))

# Fill Power
data['Power'] = data.groupby(['Brand', 'Model'])['Power'].transform(lambda x: x.fillna(x.median()))

In [ ]:
data

In [ ]:
# Insight of the EDA

#Most of the customers prefer 2 Seat cars hence the price of the 2-seat cars is higher than other cars.
#The price of the car decreases as the Age of the car increases.
#Customers prefer to purchase the First owner rather than the Second or Third.
#Due to increased Fuel price, the customer prefers to purchase an Electric vehicle.
#Automatic Transmission is easier than Manual.